#main-header{
    background-color: white;
    height: 72px;
    border-bottom: 1px solid #ddd;
}

.header-content{
    width: 100%;
    max-width: 980px;
    height: 72px;
    padding: 0 30px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}